
.container {
    margin: 50px auto;
}

.body {
    position: relative;
    width: fit-content; 
    margin: 20px auto;
    border: 1px solid #dddd;
    border-radius: 18px;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
